/* This stylesheet contains global styling for all sites in this collection */
/* General Styles */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'CantoraTTF';
    src: url('../../00.Assets/fonts/cantora/CantoraOne-Regular.ttf') format('truetype'); /* TTF font */
    /* You can include additional font formats for better browser support */
    src: url('../../00.Assets/fonts/cantora/cantoraone-regular-webfont.woff') format('woff');
url('../../00.Assets/fonts/cantora/cantoraone-regular-webfont.woff2') format('woff2');
url('../../00.Assets/fonts/cantora/CantoraOne-Regular.eot') format('embedded-opentype');
}

body {
    /*border: 4px solid blue;*/
    background: linear-gradient(315deg, #caceb1, #bec2b4, #b1b8b3, #9fa49e, #98968b) fixed;
    font-family: CantoraTTF, sans-serif;
    color: #011078;
}

.emphasized {
    font-weight: bold;
    /* You can add more styles here for emphasis */
  }


h1 {
    font-size: 32px;
}


h2 {
    font-size: 24px;
}

p, h4 {
    font-size: 16px;
    }

h6 {
    display: none;
}